.about {
    margin: 30px ;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow: hidden;
  }
  
  .about-img img {
    border-radius: 10px;
    width: 70px;
    height: 400px;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .about-content h1 {
    color: gray;
    font-family: cursive;
    border-bottom: 2px solid gray;
    text-align: center;
  }
  .about-content p {
    text-align: justify;
    padding: 20px;
  }